#video-feeds
  .row
    %h2.text-center.page-title Live Video Feeds
  .row
    .col-sm-12.text-center
      %h3.text-center ISS Video Stream
      %iframe.video-feed#iss-stream{:frameborder => "0", :scrolling => "no", :src => "http://www.ustream.tv/embed/9408562?v=3&amp;wmode=direct&autoplay=true&volume=0", :style => "border: 0px none transparent;"}
  .row
    .col-sm-12.text-center
      %h3.text-center HD Earth Viewing Experiment
      %iframe.video-feed#hd-experiment{:frameborder => "0", :scrolling => "no", :src => "http://www.ustream.tv/embed/17074538?v=3&amp;wmode=direct&autoplay=true&volume=0", :style => "border: 0px none transparent;"}
