#home {
  .location-entry-form {
    margin-top: 30px;

    label {
      font-size: 20px;
    }

    .location-input {
      font-size: 16px;
      color: #000;
    }
    #location {
      display: block;
      width: 350px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .sightings-listing {
    margin-top: 20px;
    //color: #0071D7;
    color: #fff;

    table {
      background: rgba(204, 204, 204, 0.2);
    }
  }

  .iss-tweet, .crew-member-tweet {
    iframe {
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }

  .live-tracker-map {
    iframe {
      width: 500px;
      height: 281px;
    }

    @media (max-width: 768px) {
      iframe {
        width: 330px;
        height: 186px;
      }
    }
  }

  .video-section {
    background-color: black;
    min-height: 496px;
  // /* Incase of overlay problems just increase the min-height*/
  }
  .video-section h1, .video-section h3{
    text-align: center;
    color: #fff;
  }
  .video-section h1{
    font-size:110px;
    // font-family: 'Buenard', serif
    font-weight:bold;
    text-transform: uppercase;
    margin: 40px auto 0px;
    text-shadow: 1px 1px 1px #000;
    -webkit-text-shadow: 1px 1px 1px #000;
    -moz-text-shadow: 1px 1px 1px #000;
  }
  .video-section h3{
    font-size: 25px;
    font-weight:lighter;
    margin: 0px auto 15px;
  }
  .video-section .buttonBar{display:none;}
  .player {font-size: 1px;}
}