header#main {
  .navbar {
    background: none;
    border: none;
    ul.nav.navbar-nav {
      margin-top: 20px;
      font-size: 20px;
      li a {
        color: #0071D7;
      }

    }

    .navbar-brand {
      height: inherit;
    }
  }
}
