body {
  color: #fff;
  background: black;
  font-family: 'Roboto Slab', serif;
}

.container {
  padding: 0;
}

a {
  color: #0086FF;
  &:link {
    text-decoration: none;
  }
  &:hover {
    color: #0086FF;
  }
  &:visited {
    color: #0086FF;
  }
}